@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Comfortaa:wght@700&display=swap');

body, #navbar {
    font-family: 'Comfortaa', cursive;
}

#nav-bar:hover {
    color:#584AE4;
}

#nav-bar1:hover {
    background-color: #584AE4;
    color: aliceblue;
}

/* New comment */